<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2> Main Page </h2>
<div class = "fruits">
    <p> Apple </p>
    <p>Banana</p>
    <p>Orange</p>
</div>

<div id = "box">
    <style>#source {color: blue}</style>
    <p> Hi There</p>
    <span style = "display: none">hidden message</span>
</div>

<script>
  let box = document.querySelector("#box");
  console.log(box.innerHTML);
  const fruits = document.querySelector(".fruits p");
    const fruitArray = Array.from(fruits);
    console.log(fruitArray);

    const fruitsNames = fruitArray.map(fruit => fruit.textContent);
    console.log(fruitsNames);
</script>
</body>
</html>0